

li, a, button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
}
.menu{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 858px) {
    .menu{
        display: block;
    }  
    .nav-links{
        width: 100%;
        height: 10vh;
       
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        color: white;
        
    }
    ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        color: white;

    }
    ul li a{
        font-size: 20px;
        color: white;
    }
    a:hover{
        background: none;
        color: orange;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.logo{
    width: 100px;
    height: 70px;
    color: white;
    padding: 0 100px;
    font-size: 50px;
}
.logo:hover{
    color: orange;
}

.nav-links{
    transition: all 0.2s ease 0s;
    
}

.nav-links li{
    display: inline-block;
    padding: 0px 60px;
}
.nav-links li a {
    transition: all 0.2s ease 0s;
}
.nav-links li a:hover{
    color: rgb(151, 70, 70);
}
.button{
    padding: 9px 30px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    color: orangered;
}
.button:hover{
    background-color: orange;
}

@media screen and (max-width: 1080px){
    button{
        display: none;
    }
    .nav-links li{
        padding: 0px 10px;
    }
}
@media screen and (max-width: 1080px){
  
    .nav-links li{
        display: block;
    }
    header{
        display: block;
        text-align: center;
        
    }
    
}

@media (max-width: 800px) {

    .nav-bar{
        display: block;
        position: absolute;
        top: 48px;
        height: 500px;
        width: 100%;
        z-index: 3;
        margin: 0;
        left: -100%;
    
    }
    .active{
        left: 0;
        /* transform: translate(-50%, 50%); */
        display: block;
        position: absolute;
        top: 48px;
        height: 500px;
        width: 70%;
        z-index: 3;
        margin: 0;
        left: 00%;
        opacity: 0.8;
        background-color: orangered
    }
}
 
